[submodule "IO"]
	path = IO
	url = git@github.com:vpj/IO.git
[submodule "weya"]
	path = weya
	url = git@github.com:vpj/weya.git
[submodule "synced-append"]
	path = synced-append
	url = git@github.com:chethiya/synced-append.git
